HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Terraform ###
/infra/terraform/.terraform.lock.hcl
/infra/terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/6.51.0/darwin_arm64/terraform-provider-aws_v6.51.0_x5
/infra/terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/6.51.0/darwin_arm64/LICENSE.txt
